* {
    font-family: 'Quicksand', sans-serif;
    border: 1px solid green;
}

body {
    height:100vh;
    width:100vw;
    background-color: #C2185B;
}

header{
    position: relative;
    background-color: #302c2c;
    width: 100%;
    height: 8%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.user-container{
    display: flex;
    margin-right: 20px;
}

h1{
    color:white;
    font-size: 3rem;
}
.image{
    height: 220px;
    width: 220px;
    display: flex;

}

nav{
    background-color: #302c2c;
    position: relative;
    height: 100vh;
    height: 8%;
    display: flex;
    flex-direction: row;
}
.nav-container-left{
    display:flex;
    flex-direction: row;
    align-content: flex-start;
    align-items: center;
    width:50%;
    margin-left: 20px;
}

.nav-container-right{
    display:flex;
    align-content: flex-end;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width:50%;
    margin-right: 20px;
}

h2 {
    font-size:3rem;
}

.location{
    color:#FF5722;
    margin-left: 9%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width:100%;
    height: 12%;
}

.boxes-container{
    display:flex;
    flex-direction: column;
    margin-top: 50px;
    height: auto;
    width:100%;
}

.boxes-section-container{
    display:grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(15rem,1fr));
    column-gap: 40px;
    height:auto;
    margin-right: 10%;
    margin-left: 10%;
    width:auto;
}

.box-number{
    color:#FF5722;
    font-size: 2rem;
    margin-left: 13px; 
}

.box-attatchments{
    margin-left:13px;
}

.box-link{
    display:flex;
    background-color: #F8BBD0;
    height:13%;
    width:89%;
    margin-left: 13px;
    margin-right: 13px;
    justify-content: left;
    align-items: flex-start;
    color:#757575;
    padding-left:10px;
    padding-top:3px;
}

